{% extends 'base.html' %}
{% block title %}
About
{% endblock %}
{% block content %}
<div class="container">
    <!-- Image Card -->
    <div class="card">
        <img src="https://wallpapercave.com/wp/wp7488228.jpg" alt="Image">
    </div>
    <!-- Text Card -->
    <div class="card">
        <div class="card-content">
            <h2>DEESHAR</h2>
            <p>DEESHAR Events is a online venue search engine. Users can find all of the information they need before deciding on a venue for their party or any other occasion. Corporate or birthday parties, cozy cafes for a little celebration, or a large location for an elaborate party, you'll find it all here.</p>
            <!-- Icons -->
            <div class="icons">
                <span><i class="fas fa-phone"></i> +353 0899507862</span>
                <span><i class="fas fa-envelope"></i> x23221178@student.ncirl.ie.com</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
